In [1]:
# Operações de Crédito - Conta 16000001 (filtragem maiores saldos)

import pandas as pd
import sqlite3

conn = sqlite3.connect('dados/banking.db')

query = """
WITH RankedData AS (
    SELECT
        *,
        ROW_NUMBER() OVER(PARTITION BY data ORDER BY "SALDO" DESC) AS rn
    FROM
        balancetes
    WHERE
        "CONTA" = '16000001'
)
SELECT
    *
FROM
    RankedData
WHERE
    SALDO > 1000000
--    rn <= 10;
"""

model = pd.read_sql_query(query, conn)

conn.close()

model = model[['data', 'cnpj', 'NOME_INSTITUICAO', 'SALDO']]
model['cnpj'] = model['cnpj'].astype(int)
model = model.rename(columns={'SALDO': 'operacoes_de_credito'})

In [2]:
# Ativo circulante
'''
11000006	DISPONIBILIDADES
12000005	APLICACOES INTERFINANCEIRAS DE LIQUIDEZ
13100007	Livres
14000003	RELACOES INTERFINANCEIRAS
15000002	RELACOES INTERDEPENDENCIAS
16000001	OPERACOES DE CREDITO
18000009	OUTROS CREDITOS
19900005	Despesas Antecipadas
'''
import numpy as np

conn = sqlite3.connect('dados/banking.db')

query = """
SELECT
    data,
    cnpj,
    SUM("SALDO") AS saldo_total_agregado
FROM
    balancetes
WHERE
    "CONTA" IN ('11000006', '12000005', '13100007', '14000003', '15000002', '16000001', '18000009', '19900005')
GROUP BY
    data,
    cnpj
ORDER BY
    data,
    cnpj;
"""

table = pd.read_sql_query(query, conn)
conn.close()

table['cnpj'] = (table['cnpj'].astype(str).str.strip().replace('', np.nan).replace('nan', np.nan))
table.dropna(subset=['cnpj'], inplace=True)
table['cnpj'] = table['cnpj'].astype(int)
table = table.rename(columns={'saldo_total_agregado': 'ativo_circulante'})

model = pd.merge(
    model,
    table,
    on=['data', 'cnpj'],
    how='left'
)

In [3]:
# Passivo circulante
'''
40000008	CIRCULANTE E EXIGIVEL A LONGO PRAZO
'''

conn = sqlite3.connect('dados/banking.db')

query = """
SELECT
    data,
    cnpj,
    SUM("SALDO") AS saldo_total_agregado
FROM
    balancetes
WHERE
    "CONTA" IN ('40000008')
GROUP BY
    data,
    cnpj
ORDER BY
    data,
    cnpj;
"""

table = pd.read_sql_query(query, conn)
conn.close()

table['cnpj'] = (table['cnpj'].astype(str).str.strip().replace('', np.nan).replace('nan', np.nan))
table.dropna(subset=['cnpj'], inplace=True)
table['cnpj'] = table['cnpj'].astype(int)
table = table.rename(columns={'saldo_total_agregado': 'passivo_circulante'})

model = pd.merge(
    model,
    table,
    on=['data', 'cnpj'],
    how='left'
)

In [4]:
# Patrimônio Liquido
'''
60000002	PATRIMONIO LIQUIDO
'''

conn = sqlite3.connect('dados/banking.db')

query = """
SELECT
    data,
    cnpj,
    SUM("SALDO") AS saldo_total_agregado
FROM
    balancetes
WHERE
    "CONTA" IN ('60000002')
GROUP BY
    data,
    cnpj
ORDER BY
    data,
    cnpj;
"""

table = pd.read_sql_query(query, conn)
conn.close()

table['cnpj'] = (table['cnpj'].astype(str).str.strip().replace('', np.nan).replace('nan', np.nan))
table.dropna(subset=['cnpj'], inplace=True)
table['cnpj'] = table['cnpj'].astype(int)
table = table.rename(columns={'saldo_total_agregado': 'patrimonio_liquido'})

model = pd.merge(
    model,
    table,
    on=['data', 'cnpj'],
    how='left'
)

In [5]:
# SHORT

model['short'] = (model['ativo_circulante'] - model['passivo_circulante']) / model['patrimonio_liquido']

In [6]:
# Provisões de crédito
'''
16900008	(-) Provisoes Para Operacoes De Credito
'''

conn = sqlite3.connect('dados/banking.db')

query = """
SELECT
    data,
    cnpj,
    SUM("SALDO") AS saldo_total_agregado
FROM
    balancetes
WHERE
    "CONTA" IN ('16900008')
GROUP BY
    data,
    cnpj
ORDER BY
    data,
    cnpj;
"""

table = pd.read_sql_query(query, conn)
conn.close()

table['cnpj'] = (table['cnpj'].astype(str).str.strip().replace('', np.nan).replace('nan', np.nan))
table.dropna(subset=['cnpj'], inplace=True)
table['cnpj'] = table['cnpj'].astype(int)
table['saldo_total_agregado'] = -table['saldo_total_agregado']
table = table.rename(columns={'saldo_total_agregado': 'provisao_credito'})

model = pd.merge(
    model,
    table,
    on=['data', 'cnpj'],
    how='left'
)

In [7]:
# NCO

model['nco'] = model['provisao_credito'] / model['operacoes_de_credito']

In [8]:
# NCO * SHORT

model['nco*short'] = model['nco'] * model['short']

In [9]:
# Ativos liquidos (Caixa e Equivalentes de Caixa)
'''
Caixa (1.1.1.00.00-9)
Depósitos Bancários (1.1.2.00.00-2)
Reservas Livres (1.1.3.00.00-5)
Aplicações em Operações Compromissadas (1.2.1.00.00-8)
Aplicações em Depósitos Interfinanceiros (1.2.2.00.00-1)
Disponibilidades em Moedas Estrangeiras (1.1.5.00.00-1)
'''

conn = sqlite3.connect('dados/banking.db')

query = """
SELECT
    data,
    cnpj,
    SUM("SALDO") AS saldo_total_agregado
FROM
    balancetes
WHERE
    "CONTA" IN ('11100009', '11200002', '11300005', '12100008', '12200001', '11500001')
GROUP BY
    data,
    cnpj
ORDER BY
    data,
    cnpj;
"""

table = pd.read_sql_query(query, conn)
conn.close()

table['cnpj'] = table['cnpj'].astype(int)
table = table.rename(columns={'saldo_total_agregado': 'ativo_liquido'})

model = pd.merge(
    model,
    table,
    on=['data', 'cnpj'],
    how='left'
)

In [10]:
# LIQ

model['liq'] = model['ativo_liquido'] / model['patrimonio_liquido']

In [11]:
# Core Capital
'''
61100004	Capital Social
61500006	Reservas De Lucros
61800005	Lucros Ou Prejuizos Acumulados
61600009	Ajustes De Avaliacao Patrimonial
'''

conn = sqlite3.connect('dados/banking.db')

query = """
SELECT
    data,
    cnpj,
    SUM("SALDO") AS saldo_total_agregado
FROM
    balancetes
WHERE
    "CONTA" IN ('61100004', '61500006', '61800005', '61600009')
GROUP BY
    data,
    cnpj
ORDER BY
    data,
    cnpj;
"""

table = pd.read_sql_query(query, conn)
conn.close()


table['cnpj'] = (table['cnpj'].astype(str).str.strip().replace('', np.nan).replace('nan', np.nan))
table.dropna(subset=['cnpj'], inplace=True)
table['cnpj'] = table['cnpj'].astype(int)
table = table.rename(columns={'saldo_total_agregado': 'core_capital'})

model = pd.merge(
    model,
    table,
    on=['data', 'cnpj'],
    how='left'
)

In [12]:
# Ativo Total
'''
39999993	TOTAL GERAL DO ATIVO
'''
import numpy as np

conn = sqlite3.connect('dados/banking.db')

query = """
SELECT
    data,
    cnpj,
    SUM("SALDO") AS saldo_total_agregado
FROM
    balancetes
WHERE
    "CONTA" IN ('39999993')
GROUP BY
    data,
    cnpj
ORDER BY
    data,
    cnpj;
"""

table = pd.read_sql_query(query, conn)
conn.close()

table['cnpj'] = (table['cnpj'].astype(str).str.strip().replace('', np.nan).replace('nan', np.nan))
table.dropna(subset=['cnpj'], inplace=True)
table['cnpj'] = table['cnpj'].astype(int)
table = table.rename(columns={'saldo_total_agregado': 'ativo_total'})

model = pd.merge(
    model,
    table,
    on=['data', 'cnpj'],
    how='left'
)

In [13]:
# Leverage

model['lev'] = model['core_capital'] / model['ativo_total']

In [14]:
# Receita não financeira
'''
71700009	Rendas De Prestacao De Servicos
71900005	Outras Receitas Operacionais
73000006	RECEITAS NAO OPERACIONAIS
'''
import numpy as np

conn = sqlite3.connect('dados/banking.db')

query = """
SELECT
    data,
    cnpj,
    SUM("SALDO") AS saldo_total_agregado
FROM
    balancetes
WHERE
        "CONTA" IN ('71700009', '73000006')
GROUP BY
    data,
    cnpj
ORDER BY
    data,
    cnpj;
"""

table = pd.read_sql_query(query, conn)
conn.close()

table['cnpj'] = (table['cnpj'].astype(str).str.strip().replace('', np.nan).replace('nan', np.nan))
table.dropna(subset=['cnpj'], inplace=True)
table['cnpj'] = table['cnpj'].astype(int)
table = table.rename(columns={'saldo_total_agregado': 'receita_nao_financeira'})

model = pd.merge(
    model,
    table,
    on=['data', 'cnpj'],
    how='left'
)

In [15]:
# Despesa não financeira
'''
81700006	(-) Despesas Administrativas
81900002	(-) Outras Despesas Operacionais
83000003	(-) DESPESAS NAO OPERACIONAIS
'''
import numpy as np

conn = sqlite3.connect('dados/banking.db')

query = """
SELECT
    data,
    cnpj,
    SUM("SALDO") AS saldo_total_agregado
FROM
    balancetes
WHERE
        "CONTA" IN ('71700009', '73000006')
GROUP BY
    data,
    cnpj
ORDER BY
    data,
    cnpj;
"""

table = pd.read_sql_query(query, conn)
conn.close()

table['cnpj'] = (table['cnpj'].astype(str).str.strip().replace('', np.nan).replace('nan', np.nan))
table.dropna(subset=['cnpj'], inplace=True)
table['cnpj'] = table['cnpj'].astype(int)
table = table.rename(columns={'saldo_total_agregado': 'despesa_nao_financeira'})
table['despesa_nao_financeira'] = -table['despesa_nao_financeira']

model = pd.merge(
    model,
    table,
    on=['data', 'cnpj'],
    how='left'
)

In [16]:
# Ativos Rentáveis
'''
Operações de Crédito (1.6.0.00.00-1)
Títulos e Valores Mobiliários (1.3.0.00.00-4)
Arrendamento Mercantil (1.7.0.00.00-1)
12000005	APLICACOES INTERFINANCEIRAS DE LIQUIDEZ
'''
conn = sqlite3.connect('dados/banking.db')
query = """
SELECT
    data,
    cnpj,
    SUM("SALDO") AS saldo_total_agregado
FROM
    balancetes
WHERE
    "CONTA" IN ('16000001', '13000004', '17000001', '12000005')
GROUP BY
    data,
    cnpj
ORDER BY
    data,
    cnpj;
"""

table = pd.read_sql_query(query, conn)
conn.close()

table['cnpj'] = (table['cnpj'].astype(str).str.strip().replace('', np.nan).replace('nan', np.nan))
table.dropna(subset=['cnpj'], inplace=True)
table['cnpj'] = table['cnpj'].astype(int)
table = table.rename(columns={'saldo_total_agregado': 'ativos_rentaveis'})

model = pd.merge(
    model,
    table,
    on=['data', 'cnpj'],
    how='left'
)

In [17]:
# IMPLICIT - Implicit Interest Payments

model['implicit'] = (model['despesa_nao_financeira'] - model['receita_nao_financeira']) / model['ativos_rentaveis']

In [18]:
# Non Interest Bearing Reserve Asset
'''
CAIXA (1.1.1.00.00-9)
DEPÓSITOS BANCÁRIOS (1.1.2.00.00-2)
Reservas Livres (1.1.3.00.00-5)
'''
conn = sqlite3.connect('dados/banking.db')

query = """
SELECT
    data,
    cnpj,
    SUM("SALDO") AS saldo_total_agregado
FROM
    balancetes
WHERE
    "CONTA" IN ('11100009', '11200002', '11300005')
GROUP BY
    data,
    cnpj
ORDER BY
    data,
    cnpj;
"""

table = pd.read_sql_query(query, conn)

conn.close()

table['cnpj'] = (table['cnpj'].astype(str).str.strip().replace('', np.nan).replace('nan', np.nan))
table.dropna(subset=['cnpj'], inplace=True)
table['cnpj'] = table['cnpj'].astype(int)
table = table.rename(columns={'saldo_total_agregado': 'ativo_reserva_nao_remunerada'})

model = pd.merge(
    model,
    table,
    on=['data', 'cnpj'],
    how='left'
)

In [19]:
# NIBR - Non Interest Bearing Reserves

model['nibr'] = model['ativo_reserva_nao_remunerada'] / model['ativo_total']

In [20]:
# MGMT - Management Efficiency

model['mgmt'] = model['ativos_rentaveis'] / model['ativo_total']

In [21]:
# Receitas de Juros e Similares (Rendas)
'''
Rendas De Operacoes De Credito (7.1.1.00.00-1)
Rendas de Arrendamento Mercantil (7.1.2.00.00-4)
Rendas de Aplicações Interfinanceiras de Liquidez (7.1.4.00.00-0)
Rendas de Títulos e Valores Mobiliários (7.1.5.00.00-3)
Rendas de Outras Operações Com Características de Crédito (7.1.6.00.00-8)
'''
conn = sqlite3.connect('dados/banking.db')
query = """
SELECT
    data,
    cnpj,
    SUM("SALDO") AS saldo_total_agregado
FROM
    balancetes
WHERE
    "CONTA" IN ('71100001', '71200004', '71400000', '71500003', '71600008')
GROUP BY
    data,
    cnpj
ORDER BY
    data,
    cnpj;
"""

table = pd.read_sql_query(query, conn)
conn.close()

table['cnpj'] = table['cnpj'].astype(int)
table = table.rename(columns={'saldo_total_agregado': 'receita_juros'})

model = pd.merge(
    model,
    table,
    on=['data', 'cnpj'],
    how='left'
)

In [ ]:
# Despesas de Juros e Encargos (Custos de Captação)
'''
Despesas de captação (81100008)
Despesas de Obrigações por Empréstimos e Repasses (8.1.2.00.00-1)
'''
conn = sqlite3.connect('dados/banking.db')
query = """
SELECT
    data,
    cnpj,
    SUM("SALDO") AS saldo_total_agregado
FROM
    balancetes
WHERE
    "CONTA" IN ('81100008', '81200001')
GROUP BY
    data,
    cnpj
ORDER BY
    data,
    cnpj;
"""

table = pd.read_sql_query(query, conn)
conn.close()

table['cnpj'] = table['cnpj'].astype(int)
table = table.rename(columns={'saldo_total_agregado': 'despesa_captacao'})
table['despesa_captacao'] = table['despesa_captacao'] * (-1)

model = pd.merge(
    model,
    table,
    on=['data', 'cnpj'],
    how='left'
)

model['log_despesa_captacao'] = np.log10(model['despesa_captacao'])

In [23]:
# NIM

model['nim'] = 100 * (model['receita_juros'] - model['despesa_captacao']) / model['ativos_rentaveis']

In [24]:
# Criando tabela variables

variables = model[['data', 'cnpj', 'NOME_INSTITUICAO', 'nim', 'nco', 'short','nco*short', 'liq', 'lev', 'implicit', 'nibr', 'mgmt']]

# Variáveis lags
'''
coluna_grupo = 'cnpj'
colunas_para_verificar = ['nibra', 'nibd', 'ibf', 'lever', 'opc', 'liquid', 'servr', 'mktsh']

for col in colunas_para_verificar:
    variables[f'{col}_lag_2'] = (variables.groupby(coluna_grupo)[col].shift(2))
    variables[f'{col}_lag_1'] = (variables.groupby(coluna_grupo)[col].shift(1))
    variables[f'{col}_lag_3'] = (variables.groupby(coluna_grupo)[col].shift(3))
'''
# Dummies de tempo
dummies_tempo = pd.get_dummies(variables['data'], drop_first=True)
dummies_tempo = dummies_tempo.astype(int)
variables = pd.concat([variables, dummies_tempo], axis=1)

# Removendo linhas com valores nulos, exceto na coluna NOME_INSTITUICAO
todas_colunas = variables.columns.tolist()
colunas_para_verificar = [col for col in todas_colunas if col != 'NOME_INSTITUICAO']
variables = variables.dropna(how='any', subset=colunas_para_verificar)

In [26]:
# Tratando outliers usando o método do IQR (Interquartile Range)
colunas_para_analisar = ['nim', 'nco', 'short','nco*short', 'liq', 'lev', 'implicit', 'nibr', 'mgmt']

# True significa que a linha *será removida* (outlier).
# Começamos com False, assumindo que nenhuma linha será removida inicialmente.
mascara_outliers_acumulada = pd.Series(False, index=variables.index)

print(f"Tamanho do DataFrame antes da remoção: {len(variables)}")

for col in colunas_para_analisar:
    Q1 = variables[col].quantile(0.10)
    Q3 = variables[col].quantile(0.90)
    IQR = Q3 - Q1

    limite_inferior = Q1 - 1.5 * IQR
    limite_superior = Q3 + 1.5 * IQR

    mascara_outliers_coluna = (variables[col] < limite_inferior) | (variables[col] > limite_superior)

    mascara_outliers_acumulada = mascara_outliers_acumulada | mascara_outliers_coluna

    num_outliers_col = mascara_outliers_coluna.sum()
    print(f"Coluna '{col}': {num_outliers_col} outliers identificados (Limites: [{limite_inferior:.2f}, {limite_superior:.2f}])")


# Criamos uma máscara de linhas *a serem mantidas* (True = não é outlier)
mascara_a_manter = ~mascara_outliers_acumulada # O til (~) inverte a máscara
variables_limpo = variables[mascara_a_manter]

print(f"\nTotal de linhas removidas: {mascara_outliers_acumulada.sum()}")
print(f"Tamanho do DataFrame após a remoção: {len(variables_limpo)}")

Tamanho do DataFrame antes da remoção: 134648
Coluna 'nim': 3589 outliers identificados (Limites: [-13.37, 24.34])
Coluna 'nco': 4407 outliers identificados (Limites: [-0.16, 0.31])
Coluna 'short': 5652 outliers identificados (Limites: [-0.80, 2.06])
Coluna 'nco*short': 6253 outliers identificados (Limites: [-0.13, 0.23])
Coluna 'liq': 5748 outliers identificados (Limites: [-1.59, 2.67])
Coluna 'lev': 2671 outliers identificados (Limites: [-0.19, 0.38])
Coluna 'implicit': 2826 outliers identificados (Limites: [-0.14, 0.08])
Coluna 'nibr': 3306 outliers identificados (Limites: [-0.01, 0.02])
Coluna 'mgmt': 171 outliers identificados (Limites: [-0.32, 0.83])

Total de linhas removidas: 21536
Tamanho do DataFrame após a remoção: 113112

In [28]:
# Modelo - Primeiro Estágio
import statsmodels.api as sm

colunas_X_originais = ['nco', 'short', 'liq', 'lev', 'implicit', 'nibr', 'mgmt']
colunas_X = colunas_X_originais + list(dummies_tempo.columns)
X = variables_limpo[colunas_X]
y = variables_limpo['nim']

stage1 = sm.OLS(y, sm.add_constant(X)).fit()
results_stage1 = stage1
print(results_stage1.summary())

spread_estimado = variables_limpo[['data', 'cnpj', 'NOME_INSTITUICAO']]
spread_estimado['spread_estimado'] = results_stage1.predict()
spread_estimado['spread_puro'] = results_stage1.params['const'] + variables_limpo[dummies_tempo.columns].dot(results_stage1.params[dummies_tempo.columns])

                            OLS Regression Results
==============================================================================
Dep. Variable:                    nim   R-squared:                       0.449
Model:                            OLS   Adj. R-squared:                  0.449
Method:                 Least Squares   F-statistic:                     495.7
Date:                Sat, 08 Nov 2025   Prob (F-statistic):               0.00
Time:                        17:43:42   Log-Likelihood:            -2.6716e+05
No. Observations:              113112   AIC:                         5.347e+05
Df Residuals:                  112925   BIC:                         5.365e+05
Df Model:                         186
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.1559      0.220      0.707      0.480      -0.276       0.588
nco           14.3353      0.190     75.265      0.000      13.962      14.709
short         -0.5990      0.034    -17.872      0.000      -0.665      -0.533
liq            0.8543      0.022     39.159      0.000       0.812       0.897
lev           17.4808      0.146    119.678      0.000      17.195      17.767
implicit     -26.7262      0.454    -58.813      0.000     -27.617     -25.836
nibr          57.2365      2.760     20.739      0.000      51.827      62.646
mgmt          -4.0156      0.083    -48.470      0.000      -4.178      -3.853
2010-02        1.3795      0.308      4.483      0.000       0.776       1.983
2010-03        2.4153      0.234     10.312      0.000       1.956       2.874
2010-04        3.4066      0.305     11.166      0.000       2.809       4.005
2010-05        3.9865      0.309     12.883      0.000       3.380       4.593
2010-06        5.9042      0.235     25.143      0.000       5.444       6.364
2010-07       -0.0653      0.304     -0.215      0.830      -0.660       0.530
2010-08        1.2453      0.302      4.129      0.000       0.654       1.836
2010-09        2.2013      0.235      9.381      0.000       1.741       2.661
2010-10        3.3179      0.302     11.000      0.000       2.727       3.909
2010-11        4.2052      0.304     13.851      0.000       3.610       4.800
2010-12        5.4752      0.235     23.331      0.000       5.015       5.935
2011-01       -0.0631      0.291     -0.217      0.828      -0.633       0.507
2011-02        0.9850      0.292      3.378      0.001       0.413       1.557
2011-03        2.0489      0.234      8.755      0.000       1.590       2.508
2011-04        3.1622      0.293     10.786      0.000       2.588       3.737
2011-05        3.9027      0.295     13.240      0.000       3.325       4.480
2011-06        5.2242      0.235     22.269      0.000       4.764       5.684
2011-07        0.0107      0.293      0.037      0.971      -0.563       0.584
2011-08        0.9499      0.293      3.241      0.001       0.375       1.524
2011-09        2.0818      0.234      8.904      0.000       1.624       2.540
2011-10        2.9498      0.294     10.022      0.000       2.373       3.527
2011-11        3.9748      0.292     13.591      0.000       3.402       4.548
2011-12        5.2553      0.235     22.385      0.000       4.795       5.715
2012-01        0.1897      0.284      0.667      0.505      -0.368       0.747
2012-02        1.0933      0.286      3.820      0.000       0.532       1.654
2012-03        2.1587      0.234      9.229      0.000       1.700       2.617
2012-04        3.0633      0.285     10.758      0.000       2.505       3.621
2012-05        3.9571      0.286     13.851      0.000       3.397       4.517
2012-06        5.5003      0.234     23.476      0.000       5.041       5.960
2012-07        0.2958      0.283      1.044      0.296      -0.259       0.851
2012-08        1.3790      0.284      4.849      0.000       0.822       1.936
2012-09        2.4487      0.234     10.460      0.000       1.990       2.908
2012-10        3.3715      0.285     11.816      0.000       2.812       3.931
2012-11        4.1914      0.284     14.749      0.000       3.634       4.748
2012-12        5.7391      0.235     24.448      0.000       5.279       6.199
2013-01        0.3177      0.277      1.146      0.252      -0.226       0.861
2013-02        1.3217      0.277      4.767      0.000       0.778       1.865
2013-03        2.3493      0.234     10.047      0.000       1.891       2.808
2013-04        3.5110      0.277     12.661      0.000       2.967       4.055
2013-05        4.1684      0.279     14.964      0.000       3.622       4.714
2013-06        5.4924      0.235     23.418      0.000       5.033       5.952
2013-07        0.2392      0.277      0.863      0.388      -0.304       0.783
2013-08        1.4594      0.279      5.231      0.000       0.913       2.006
2013-09        2.0111      0.235      8.574      0.000       1.551       2.471
2013-10        3.2197      0.280     11.518      0.000       2.672       3.768
2013-11        3.7192      0.281     13.253      0.000       3.169       4.269
2013-12        4.8099      0.235     20.458      0.000       4.349       5.271
2014-01        0.3355      0.273      1.230      0.219      -0.199       0.870
2014-02        1.2260      0.273      4.492      0.000       0.691       1.761
2014-03        1.7542      0.234      7.483      0.000       1.295       2.214
2014-04        2.9266      0.274     10.687      0.000       2.390       3.463
2014-05        3.7218      0.274     13.578      0.000       3.185       4.259
2014-06        4.5601      0.235     19.413      0.000       4.100       5.020
2014-07        0.1611      0.273      0.590      0.555      -0.374       0.696
2014-08        1.2914      0.274      4.717      0.000       0.755       1.828
2014-09        1.7016      0.234      7.266      0.000       1.243       2.161
2014-10        2.8884      0.274     10.539      0.000       2.351       3.425
2014-11        3.4814      0.276     12.632      0.000       2.941       4.022
2014-12        4.3742      0.235     18.595      0.000       3.913       4.835
2015-01        0.1344      0.270      0.499      0.618      -0.394       0.663
2015-02        1.0993      0.269      4.081      0.000       0.571       1.627
2015-03        1.6939      0.235      7.217      0.000       1.234       2.154
2015-04        2.7761      0.272     10.198      0.000       2.243       3.310
2015-05        3.3786      0.272     12.400      0.000       2.845       3.913
2015-06        4.2162      0.235     17.911      0.000       3.755       4.678
2015-07        0.0098      0.270      0.036      0.971      -0.519       0.539
2015-08        0.4127      0.235      1.753      0.080      -0.049       0.874
2015-09        1.4361      0.235      6.108      0.000       0.975       1.897
2015-10        2.2817      0.236      9.681      0.000       1.820       2.744
2015-11        3.1041      0.236     13.157      0.000       2.642       3.567
2015-12        4.1628      0.236     17.633      0.000       3.700       4.626
2016-01       -0.3839      0.236     -1.629      0.103      -0.846       0.078
2016-02        0.4054      0.236      1.719      0.086      -0.057       0.868
2016-03        1.4315      0.236      6.077      0.000       0.970       1.893
2016-04        2.3234      0.236      9.846      0.000       1.861       2.786
2016-05        3.2214      0.236     13.651      0.000       2.759       3.684
2016-06        4.1164      0.236     17.442      0.000       3.654       4.579
2016-07       -0.4161      0.236     -1.765      0.078      -0.878       0.046
2016-08        0.3841      0.236      1.629      0.103      -0.078       0.846
2016-09        1.2715      0.236      5.397      0.000       0.810       1.733
2016-10        2.0957      0.236      8.874      0.000       1.633       2.559
2016-11        3.0309      0.236     12.817      0.000       2.567       3.494
2016-12        4.1022      0.237     17.339      0.000       3.639       4.566
2017-01       -0.5308      0.236     -2.248      0.025      -0.994      -0.068
2017-02        0.3260      0.236      1.382      0.167      -0.136       0.788
2017-03        1.3631      0.236      5.780      0.000       0.901       1.825
2017-04        2.1205      0.237      8.965      0.000       1.657       2.584
2017-05        3.0610      0.237     12.909      0.000       2.596       3.526
2017-06        4.0606      0.237     17.131      0.000       3.596       4.525
2017-07       -0.5115      0.236     -2.163      0.031      -0.975      -0.048
2017-08        0.5371      0.236      2.273      0.023       0.074       1.000
2017-09        1.5826      0.236      6.704      0.000       1.120       2.045
2017-10        2.4822      0.237     10.482      0.000       2.018       2.946
2017-11        3.4310      0.237     14.461      0.000       2.966       3.896
2017-12        4.5162      0.237     19.037      0.000       4.051       4.981
2018-01       -0.3318      0.236     -1.405      0.160      -0.795       0.131
2018-02        0.7126      0.236      3.016      0.003       0.250       1.176
2018-03        1.8001      0.236      7.622      0.000       1.337       2.263
2018-04        2.8466      0.237     12.036      0.000       2.383       3.310
2018-05        3.8903      0.237     16.408      0.000       3.426       4.355
2018-06        4.8563      0.238     20.424      0.000       4.390       5.322
2018-07       -0.2821      0.236     -1.193      0.233      -0.745       0.181
2018-08        0.7743      0.236      3.274      0.001       0.311       1.238
2018-09        1.7768      0.237      7.504      0.000       1.313       2.241
2018-10        2.7132      0.237     11.439      0.000       2.248       3.178
2018-11        3.6210      0.238     15.230      0.000       3.155       4.087
2018-12        4.2982      0.238     18.031      0.000       3.831       4.765
2019-01       -0.3353      0.237     -1.417      0.157      -0.799       0.129
2019-02        0.6072      0.237      2.565      0.010       0.143       1.071
2019-03        1.6550      0.237      6.984      0.000       1.191       2.119
2019-04        2.5340      0.237     10.675      0.000       2.069       2.999
2019-05        3.5385      0.238     14.885      0.000       3.073       4.004
2019-06        4.3205      0.238     18.129      0.000       3.853       4.788
2019-07       -0.3924      0.237     -1.654      0.098      -0.858       0.073
2019-08        0.7125      0.237      3.003      0.003       0.247       1.178
2019-09        1.5238      0.238      6.408      0.000       1.058       1.990
2019-10        2.4936      0.238     10.480      0.000       2.027       2.960
2019-11        3.3329      0.238     13.994      0.000       2.866       3.800
2019-12        4.0892      0.239     17.113      0.000       3.621       4.558
2020-01       -0.2790      0.237     -1.175      0.240      -0.744       0.186
2020-02        0.6688      0.238      2.813      0.005       0.203       1.135
2020-03        1.6102      0.238      6.763      0.000       1.144       2.077
2020-04        2.4453      0.239     10.252      0.000       1.978       2.913
2020-05        3.4011      0.239     14.231      0.000       2.933       3.869
2020-06        4.1558      0.239     17.354      0.000       3.686       4.625
2020-07       -0.2268      0.238     -0.953      0.341      -0.693       0.240
2020-08        0.6345      0.238      2.662      0.008       0.167       1.102
2020-09        1.4740      0.238      6.187      0.000       1.007       1.941
2020-10        2.3273      0.239      9.750      0.000       1.859       2.795
2020-11        3.0813      0.239     12.894      0.000       2.613       3.550
2020-12        3.8548      0.239     16.110      0.000       3.386       4.324
2021-01       -0.1694      0.238     -0.711      0.477      -0.636       0.297
2021-02        0.5876      0.238      2.468      0.014       0.121       1.054
2021-03        1.5165      0.238      6.367      0.000       1.050       1.983
2021-04        2.2954      0.239      9.621      0.000       1.828       2.763
2021-05        2.9714      0.239     12.441      0.000       2.503       3.439
2021-06        3.6170      0.239     15.127      0.000       3.148       4.086
2021-07       -0.0852      0.238     -0.358      0.720      -0.552       0.381
2021-08        0.7101      0.238      2.981      0.003       0.243       1.177
2021-09        1.3847      0.238      5.814      0.000       0.918       1.852
2021-10        2.0028      0.239      8.392      0.000       1.535       2.470
2021-11        2.5805      0.239     10.810      0.000       2.113       3.048
2021-12        3.2213      0.239     13.490      0.000       2.753       3.689
2022-01       -0.1141      0.238     -0.479      0.632      -0.581       0.353
2022-02        0.4485      0.238      1.883      0.060      -0.018       0.915
2022-03        1.0661      0.238      4.478      0.000       0.600       1.533
2022-04        1.5997      0.238      6.711      0.000       1.133       2.067
2022-05        2.1508      0.239      9.013      0.000       1.683       2.619
2022-06        2.6426      0.239     11.058      0.000       2.174       3.111
2022-07       -0.1159      0.238     -0.486      0.627      -0.583       0.351
2022-08        0.4291      0.239      1.799      0.072      -0.039       0.897
2022-09        0.9024      0.239      3.779      0.000       0.434       1.370
2022-10        1.4384      0.239      6.023      0.000       0.970       1.906
2022-11        2.0016      0.239      8.371      0.000       1.533       2.470
2022-12        2.5420      0.239     10.626      0.000       2.073       3.011
2023-01       -0.1969      0.239     -0.824      0.410      -0.665       0.271
2023-02        0.2984      0.239      1.249      0.212      -0.170       0.767
2023-03        0.8508      0.239      3.563      0.000       0.383       1.319
2023-04        1.3601      0.239      5.691      0.000       0.892       1.828
2023-05        1.9481      0.239      8.140      0.000       1.479       2.417
2023-06        2.4115      0.240     10.065      0.000       1.942       2.881
2023-07       -0.3237      0.239     -1.355      0.176      -0.792       0.145
2023-08        0.2368      0.239      0.990      0.322      -0.232       0.706
2023-09        0.8159      0.239      3.407      0.001       0.347       1.285
2023-10        1.2953      0.240      5.408      0.000       0.826       1.765
2023-11        1.8334      0.240      7.646      0.000       1.363       2.303
2023-12        2.3728      0.240      9.881      0.000       1.902       2.843
2024-01       -0.3641      0.239     -1.521      0.128      -0.833       0.105
2024-02        0.2613      0.239      1.092      0.275      -0.208       0.730
2024-03        0.9212      0.239      3.848      0.000       0.452       1.390
2024-04        1.4594      0.240      6.087      0.000       0.990       1.929
2024-05        2.0130      0.240      8.390      0.000       1.543       2.483
2024-06        2.5245      0.240     10.506      0.000       2.054       2.996
2024-07       -0.3330      0.240     -1.390      0.165      -0.802       0.137
2024-08        0.2478      0.239      1.035      0.301      -0.221       0.717
2024-09        0.8041      0.240      3.352      0.001       0.334       1.274
2024-10        1.4133      0.240      5.892      0.000       0.943       1.883
2024-11        1.9707      0.240      8.213      0.000       1.500       2.441
2024-12        2.4533      0.240     10.209      0.000       1.982       2.924
==============================================================================
Omnibus:                    47355.646   Durbin-Watson:                   1.940
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           650346.386
Skew:                           1.642   Prob(JB):                         0.00
Kurtosis:                      14.278   Cond. No.                         502.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/tmp/ipykernel_601551/2295521023.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spread_estimado['spread_estimado'] = results_stage1.predict()
/tmp/ipykernel_601551/2295521023.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spread_estimado['spread_puro'] = results_stage1.params['const'] + variables_limpo[dummies_tempo.columns].dot(results_stage1.params[dummies_tempo.columns])