Para filtrar por semestre:
conn = sqlite3.connect('dados/banking.db')
query = """
SELECT
    *
FROM
    juros_mensal;
WHERE
    data LIKE '%-06%' OR data LIKE '%-12%';
"""

juros = pd.read_sql_query(query, conn)

conn.close()

In [1]:
# juros_consignado_privado

import pandas as pd
import sqlite3

conn = sqlite3.connect('dados/banking.db')
query = """
SELECT
    *
FROM
    juros_consignado_privado
;
"""

juros = pd.read_sql_query(query, conn)

conn.close()

In [2]:
# cdi_mensal

conn = sqlite3.connect('dados/banking.db')
query = """
SELECT
    *
FROM
    cdi_mensal
;
"""

cdi = pd.read_sql_query(query, conn)

conn.close()

In [3]:
# Criando tabela model

cdi = cdi[['data', 'cdi', 'selic']]
model = pd.merge(juros, cdi, on='data')

model['TaxaJurosAoAno'] = model['TaxaJurosAoAno'].str.replace(',', '.', regex=False)
model['TaxaJurosAoAno'] = model['TaxaJurosAoAno'].astype(float)
model['cdi'] = model['cdi'].str.replace(',', '.', regex=False)
model['cdi'] = model['cdi'].astype(float)
model['selic'] = model['selic'].str.replace(',', '.', regex=False)
model['selic'] = model['selic'].astype(float)
model['spread'] = model['TaxaJurosAoAno'] - model['cdi']

In [39]:
# Operações de Crédito - Conta 16000001 (filtragem maiores saldos)

import pandas as pd
import sqlite3

conn = sqlite3.connect('dados/banking.db')

query = """
WITH RankedData AS (
    SELECT
        *,
        ROW_NUMBER() OVER(PARTITION BY data ORDER BY "SALDO" DESC) AS rn
    FROM
        balancetes
    WHERE
        "CONTA" = '16000001'
)
SELECT
    *
FROM
    RankedData
--WHERE
--    rn <= 10;
"""

operações_de_credito = pd.read_sql_query(query, conn)

conn.close()

operações_de_credito = operações_de_credito[['data', 'cnpj', 'SALDO']]
operações_de_credito['cnpj'] = operações_de_credito['cnpj'].astype(int)
operações_de_credito = operações_de_credito.rename(columns={'SALDO': 'operacoes_de_credito'})

model = pd.merge(
    model,
    operações_de_credito,
    on=['data', 'cnpj'],
    how='left'
)
model.dropna(subset=['operacoes_de_credito'], inplace=True)

In [40]:
# Ativo Circulante e Realizável à Longo Prazo - Conta 10000007

import numpy as np
conn = sqlite3.connect('dados/banking.db')

query = """
SELECT
    *
FROM
    balancetes
WHERE
    "CONTA" = '10000007'
"""

ativo_realizavel = pd.read_sql_query(query, conn)

conn.close()

ativo_realizavel = ativo_realizavel[['data', 'cnpj', 'SALDO']]
ativo_realizavel['cnpj'] = (ativo_realizavel['cnpj'].astype(str).str.strip().replace('', np.nan).replace('nan', np.nan))
ativo_realizavel.dropna(subset=['cnpj'], inplace=True)
ativo_realizavel['cnpj'] = ativo_realizavel['cnpj'].astype(int)
ativo_realizavel = ativo_realizavel.rename(columns={'SALDO': 'ativo_realizavel'})

model = pd.merge(
    model,
    ativo_realizavel,
    on=['data', 'cnpj'],
    how='left'
)

In [ ]:
# Depósitos à Vista (Depósitos Não Remunerados) - Conta 41100000

import pandas as pd
import sqlite3

conn = sqlite3.connect('dados/banking.db')

query = """
SELECT
    *
FROM
    balancetes
WHERE
    "CONTA" = '41100000'
"""

depositos_a_vista = pd.read_sql_query(query, conn)

conn.close()

depositos_a_vista = depositos_a_vista[['data', 'cnpj', 'SALDO']]
depositos_a_vista['cnpj'] = depositos_a_vista['cnpj'].astype(int)
depositos_a_vista = depositos_a_vista.rename(columns={'SALDO': 'depositos_a_vista_total'})

model = pd.merge(
    model,
    depositos_a_vista,
    on=['data', 'cnpj'],
    how='left'
)
model['depositos_a_vista'] = model['depositos_a_vista_total'] / model['ativo_realizavel']

In [42]:
# Depósitos - Conta 41000007

conn = sqlite3.connect('dados/banking.db')

query = """
SELECT
    *
FROM
    balancetes
WHERE
    "CONTA" = '41000007'
"""

depositos = pd.read_sql_query(query, conn)

conn.close()

depositos = depositos[['data', 'cnpj', 'SALDO']]
depositos['cnpj'] = depositos['cnpj'].astype(int)
depositos = depositos.rename(columns={'SALDO': 'depositos'})

model = pd.merge(
    model,
    depositos,
    on=['data', 'cnpj'],
    how='left'
)

In [43]:
# Ativo Permanente - Conta 20000004

import numpy as np
conn = sqlite3.connect('dados/banking.db')

query = """
SELECT
    *
FROM
    balancetes
WHERE
    "CONTA" = '20000004'
"""

ativo_permanente = pd.read_sql_query(query, conn)

conn.close()

ativo_permanente = ativo_permanente[['data', 'cnpj', 'SALDO']]
ativo_permanente['cnpj'] = (ativo_permanente['cnpj'].astype(str).str.strip().replace('', np.nan).replace('nan', np.nan))
ativo_permanente.dropna(subset=['cnpj'], inplace=True)
ativo_permanente['cnpj'] = ativo_permanente['cnpj'].astype(int)
ativo_permanente = ativo_permanente.rename(columns={'SALDO': 'ativo_permanente'})

model = pd.merge(
    model,
    ativo_permanente,
    on=['data', 'cnpj'],
    how='left'
)
model['ativo_total'] = model['ativo_permanente'] + model['ativo_realizavel']

In [44]:
# Patrimônio Líquido - Conta 60000002

conn = sqlite3.connect('dados/banking.db')

query = """
SELECT
    *
FROM
    balancetes
WHERE
    "CONTA" = '60000002'
"""

patrimonio_liquido = pd.read_sql_query(query, conn)

conn.close()

patrimonio_liquido = patrimonio_liquido[['data', 'cnpj', 'SALDO']]
patrimonio_liquido['cnpj'] = (patrimonio_liquido['cnpj'].astype(str).str.strip().replace('', np.nan).replace('nan', np.nan))
patrimonio_liquido.dropna(subset=['cnpj'], inplace=True)
patrimonio_liquido['cnpj'] = patrimonio_liquido['cnpj'].astype(int)
patrimonio_liquido = patrimonio_liquido.rename(columns={'SALDO': 'patrimonio_liquido'})

model = pd.merge(
    model,
    patrimonio_liquido,
    on=['data', 'cnpj'],
    how='left'
)

In [45]:
# Passivo Total -  Conta 99999995

conn = sqlite3.connect('dados/banking.db')

query = """
SELECT
    *
FROM
    balancetes
WHERE
    "CONTA" = '99999995'
"""

passivo_total = pd.read_sql_query(query, conn)

conn.close()

passivo_total = passivo_total[['data', 'cnpj', 'SALDO']]
passivo_total['cnpj'] = (passivo_total['cnpj'].astype(str).str.strip().replace('', np.nan).replace('nan', np.nan))
passivo_total.dropna(subset=['cnpj'], inplace=True)
passivo_total['cnpj'] = passivo_total['cnpj'].astype(int)
passivo_total = passivo_total.rename(columns={'SALDO': 'passivo_total'})

model = pd.merge(
    model,
    passivo_total,
    on=['data', 'cnpj'],
    how='left'
)

In [46]:
# Alavancagem (lever)

model['lever'] = model['passivo_total'] / model['patrimonio_liquido']

In [47]:
# Receita Operacional - Conta 71000008

conn = sqlite3.connect('dados/banking.db')

query = """
SELECT
    *
FROM
    balancetes
WHERE
    "CONTA" = '71000008'
"""

receita_operacional = pd.read_sql_query(query, conn)

conn.close()

receita_operacional = receita_operacional[['data', 'cnpj', 'SALDO']]
receita_operacional['cnpj'] = (receita_operacional['cnpj'].astype(str).str.strip().replace('', np.nan).replace('nan', np.nan))
receita_operacional.dropna(subset=['cnpj'], inplace=True)
receita_operacional['cnpj'] = receita_operacional['cnpj'].astype(int)
receita_operacional = receita_operacional.rename(columns={'SALDO': 'receita_operacional'})

model = pd.merge(
    model,
    receita_operacional,
    on=['data', 'cnpj'],
    how='left'
)

In [48]:
# Despesa Operacional - Conta 81000005

conn = sqlite3.connect('dados/banking.db')

query = """
SELECT
    *
FROM
    balancetes
WHERE
    "CONTA" = '81000005'
"""

despesa_operacional = pd.read_sql_query(query, conn)

conn.close()

despesa_operacional = despesa_operacional[['data', 'cnpj', 'SALDO']]
despesa_operacional['cnpj'] = (despesa_operacional['cnpj'].astype(str).str.strip().replace('', np.nan).replace('nan', np.nan))
despesa_operacional.dropna(subset=['cnpj'], inplace=True)
despesa_operacional['cnpj'] = despesa_operacional['cnpj'].astype(int)
despesa_operacional = despesa_operacional.rename(columns={'SALDO': 'despesa_operacional'})

model = pd.merge(
    model,
    despesa_operacional,
    on=['data', 'cnpj'],
    how='left'
)

In [49]:
# Fundos Remunerados
'''
Depósitos de Poupança (4.1.2.00.00-3)
Depósitos Interfinanceiros (4.1.3.00.00-6)
Depósitos a Prazo (4.1.5.00.00-2)
Depósitos sob Aviso (4.1.4.00.00-9)
Obrigações por Operações Compromissadas (4.2.0.00.00-6)
Obrigações por Títulos e Valores Mobiliários (4.3.0.00.00-5)
Obrigações por Empréstimos e Repasses (4.6.0.00.00-2)
'''

conn = sqlite3.connect('dados/banking.db')

query = """
SELECT
    data,
    cnpj,
    SUM("SALDO") AS saldo_total_agregado
FROM
    balancetes
WHERE
    "CONTA" IN ('41200003', '41300006', '41500002', '41400009', '42000006', '43000005', '46000002')
GROUP BY
    data,
    cnpj
ORDER BY
    data,
    cnpj;
"""

fundos_remunerados = pd.read_sql_query(query, conn)
conn.close()

fundos_remunerados['cnpj'] = fundos_remunerados['cnpj'].astype(int)
fundos_remunerados = fundos_remunerados.rename(columns={'saldo_total_agregado': 'fundos_remunerados'})

model = pd.merge(
    model,
    fundos_remunerados,
    on=['data', 'cnpj'],
    how='left'
)

In [50]:
# Ativos rentáveis
'''
Aplicações Interfinanceiras de Liquidez (1.2.0.00.00-5)
Títulos e Valores Mobiliários e Instrumentos Financeiros Derivativos (1.3.0.00.00-4)
Operações de Crédito (1.6.0.00.00-1)
Operações de Arrendamento Mercantil (1.7.0.00.00-0)
Outros Créditos (1.8.0.00.00-9)
'''

conn = sqlite3.connect('dados/banking.db')

query = """
SELECT
    data,
    cnpj,
    SUM("SALDO") AS saldo_total_agregado
FROM
    balancetes
WHERE
    "CONTA" IN ('12000005', '13000004', '16000001', '17000000', '18000009')
GROUP BY
    data,
    cnpj
ORDER BY
    data,
    cnpj;
"""

ativos_rentaveis = pd.read_sql_query(query, conn)
conn.close()

ativos_rentaveis['cnpj'] = (ativos_rentaveis['cnpj'].astype(str).str.strip().replace('', np.nan).replace('nan', np.nan))
ativos_rentaveis.dropna(subset=['cnpj'], inplace=True)
ativos_rentaveis['cnpj'] = ativos_rentaveis['cnpj'].astype(int)
ativos_rentaveis = ativos_rentaveis.rename(columns={'saldo_total_agregado': 'ativos_rentaveis'})

model = pd.merge(
    model,
    ativos_rentaveis,
    on=['data', 'cnpj'],
    how='left'
)

In [51]:
# ibf (Interest Bearing Funds / Total Earning Assets)

model['ibf'] = model['fundos_remunerados'] / model['ativos_rentaveis']

In [ ]:
# Non-Interest Bearing Deposits (nibd) = Depósitos Não Remunerados / Total de Ativos Operacionais

model['ativo_operacional'] = model['ativo_realizavel'] + model['ativo_permanente']
model['nibd'] = model['depositos_a_vista'] / model['ativo_operacional']

In [53]:
# Custos Operacionais (opc)
'''
Despesas de Captação (8.1.1.00.00-8)
Despesas de Obrigações por Empréstimos e Repasses (8.1.2.00.00-1)
Despesas de Arrendamento Mercantil (8.1.3.00.00-4)
Despesas de Câmbio (8.1.4.00.00-7)
Despesas com Títulos e Valores Mobiliários e Instrumentos Financeiros Derivativos (8.1.5.00.00-0)
Despesas Administrativas (8.1.7.00.00-6)
Despesas de Provisões Operacionais (8.1.8.30.00-0)
Outras Despesas Operacionais (8.1.9.99.00-6)
'''

conn = sqlite3.connect('dados/banking.db')

query = """
SELECT
    data,
    cnpj,
    SUM("SALDO") AS saldo_total_agregado
FROM
    balancetes
WHERE
    "CONTA" IN ('81100008', '81200001', '81300004', '81400007', '81500000', '81700006', '81830000', '81999006')
GROUP BY
    data,
    cnpj
ORDER BY
    data,
    cnpj;
"""

custos_operacionais = pd.read_sql_query(query, conn)
conn.close()

custos_operacionais['cnpj'] = custos_operacionais['cnpj'].astype(int)
custos_operacionais = custos_operacionais.rename(columns={'saldo_total_agregado': 'custos_operacionais'})

model = pd.merge(
    model,
    custos_operacionais,
    on=['data', 'cnpj'],
    how='left'
)

model['opc'] = model['custos_operacionais'] / model['ativo_total']

In [54]:
# Ativos de Alta Liquidez (Caixa e Equivalentes de Caixa)
'''
Caixa (1.1.1.00.00-9)
Depósitos Bancários (1.1.2.00.00-2)
Reservas Livres (1.1.3.00.00-5)
Aplicações em Operações Compromissadas (1.2.1.00.00-8)
Aplicações em Depósitos Interfinanceiros (1.2.2.00.00-1)
'''

conn = sqlite3.connect('dados/banking.db')

query = """
SELECT
    data,
    cnpj,
    SUM("SALDO") AS saldo_total_agregado
FROM
    balancetes
WHERE
    "CONTA" IN ('11100009', '11200002', '11300005', '12100008', '12200001')
GROUP BY
    data,
    cnpj
ORDER BY
    data,
    cnpj;
"""

ativos_liquidos = pd.read_sql_query(query, conn)
conn.close()

ativos_liquidos['cnpj'] = ativos_liquidos['cnpj'].astype(int)
ativos_liquidos = ativos_liquidos.rename(columns={'saldo_total_agregado': 'ativo_liquido'})

model = pd.merge(
    model,
    ativos_liquidos,
    on=['data', 'cnpj'],
    how='left'
)

In [55]:
# Passivos de Curto Prazo (Obrigações Exigíveis no Circulante)
'''
Depósitos à Vista (4.1.1.00.00-0)
Obrigações por Operações Compromissadas (4.2.0.00.00-6)
Depósitos Interfinanceiros (4.1.3.00.00-6)
'''

conn = sqlite3.connect('dados/banking.db')

query = """
SELECT
    data,
    cnpj,
    SUM("SALDO") AS saldo_total_agregado
FROM
    balancetes
WHERE
    "CONTA" IN ('41100000', '42000006', '41300006')
GROUP BY
    data,
    cnpj
ORDER BY
    data,
    cnpj;
"""

passivo_curto_prazo = pd.read_sql_query(query, conn)
conn.close()

passivo_curto_prazo['cnpj'] = passivo_curto_prazo['cnpj'].astype(int)
passivo_curto_prazo = passivo_curto_prazo.rename(columns={'saldo_total_agregado': 'passivo_curto_prazo'})

model = pd.merge(
    model,
    passivo_curto_prazo,
    on=['data', 'cnpj'],
    how='left'
)

In [56]:
# Liquidez (liquid)

model['liquid'] = model['ativo_liquido'] / model['passivo_curto_prazo']

In [57]:
# Renda de Serviços - Conta 71700009

conn = sqlite3.connect('dados/banking.db')

query = """
SELECT
    *
FROM
    balancetes
WHERE
    "CONTA" = '71700009'
"""

renda_servicos = pd.read_sql_query(query, conn)

conn.close()

renda_servicos = renda_servicos[['data', 'cnpj', 'SALDO']]
renda_servicos['cnpj'] = renda_servicos['cnpj'].astype(int)
renda_servicos = renda_servicos.rename(columns={'SALDO': 'renda_servicos'})

model = pd.merge(
    model,
    renda_servicos,
    on=['data', 'cnpj'],
    how='left'
)

In [58]:
# razão entre receitas de serviços e o total de receitas operacionais (servr)

model['servr'] = model['renda_servicos'] / model['receita_operacional']

In [59]:
# Receitas de Juros e Similares (Rendas)
'''
Rendas De Operacoes De Credito - Conta 7.1.1.00.00-1
Rendas de Aplicações Interfinanceiras de Liquidez (7.1.4.00.00-0)
Rendas de Arrendamento Mercantil (7.1.2.00.00-4)
'''
conn = sqlite3.connect('dados/banking.db')
query = """
SELECT
    data,
    cnpj,
    SUM("SALDO") AS saldo_total_agregado
FROM
    balancetes
WHERE
    "CONTA" IN ('71100001', '71400000', '71200004')
GROUP BY
    data,
    cnpj
ORDER BY
    data,
    cnpj;
"""

receita_juros = pd.read_sql_query(query, conn)
conn.close()

receita_juros['cnpj'] = receita_juros['cnpj'].astype(int)
receita_juros = receita_juros.rename(columns={'saldo_total_agregado': 'receita_juros'})

model = pd.merge(
    model,
    receita_juros,
    on=['data', 'cnpj'],
    how='left'
)

In [60]:
# Ativos Remunerados Médios (Média do Balanço)
'''
Operações de Crédito (1.6.0.00.00-1)
Títulos e Valores Mobiliários (1.3.0.00.00-4)
Arrendamento Mercantil (1.7.0.00.00-1)
'''
conn = sqlite3.connect('dados/banking.db')
query = """
SELECT
    data,
    cnpj,
    SUM("SALDO") AS saldo_total_agregado
FROM
    balancetes
WHERE
    "CONTA" IN ('16000001', '13000004', '17000001')
GROUP BY
    data,
    cnpj
ORDER BY
    data,
    cnpj;
"""

saldo_credito = pd.read_sql_query(query, conn)
conn.close()

saldo_credito['cnpj'] = (saldo_credito['cnpj'].astype(str).str.strip().replace('', np.nan).replace('nan', np.nan))
saldo_credito.dropna(subset=['cnpj'], inplace=True)
saldo_credito['cnpj'] = saldo_credito['cnpj'].astype(int)
saldo_credito = saldo_credito.rename(columns={'saldo_total_agregado': 'ativos_remunerados'})

model = pd.merge(
    model,
    saldo_credito,
    on=['data', 'cnpj'],
    how='left'
)

In [61]:
# taxa_empréstimos = receita de crédito / operações de crédito

model['taxa_emprestimos'] = model['receita_juros'] / model['ativos_remunerados']

In [62]:
# Despesas de Juros e Encargos (Custos de Captação)
'''
Despesas de captação (81100008)
Despesas de Obrigações por Empréstimos e Repasses (8.1.2.00.00-1)
'''
conn = sqlite3.connect('dados/banking.db')
query = """
SELECT
    data,
    cnpj,
    SUM("SALDO") AS saldo_total_agregado
FROM
    balancetes
WHERE
    "CONTA" IN ('81100008', '81200001')
GROUP BY
    data,
    cnpj
ORDER BY
    data,
    cnpj;
"""

despesa_captacao = pd.read_sql_query(query, conn)
conn.close()

despesa_captacao['cnpj'] = despesa_captacao['cnpj'].astype(int)
despesa_captacao = despesa_captacao.rename(columns={'saldo_total_agregado': 'despesa_captacao'})
despesa_captacao['despesa_captacao'] = despesa_captacao['despesa_captacao'] * (-1)

model = pd.merge(
    model,
    despesa_captacao,
    on=['data', 'cnpj'],
    how='left'
)

In [63]:
# Outras despesas (Metodologia BCB)
'''
Despesas Administrativas (8.1.7.00.00-6)
Aprovisionamentos E Ajustes Patrimoniais (8.1.8.00.00-9)
Imposto de Renda (8.9.4.00.00-9)
'''
conn = sqlite3.connect('dados/banking.db')
query = """
SELECT
    data,
    cnpj,
    SUM("SALDO") AS saldo_total_agregado
FROM
    balancetes
WHERE
    "CONTA" IN ('81700006', '81800009', '86400009')
GROUP BY
    data,
    cnpj
ORDER BY
    data,
    cnpj;
"""

outras_despesas = pd.read_sql_query(query, conn)
conn.close()

outras_despesas['cnpj'] = (outras_despesas['cnpj'].astype(str).str.strip().replace('', np.nan).replace('nan', np.nan))
outras_despesas.dropna(subset=['cnpj'], inplace=True)
outras_despesas['cnpj'] = outras_despesas['cnpj'].astype(int)
outras_despesas = outras_despesas.rename(columns={'saldo_total_agregado': 'outras_despesas'})

model = pd.merge(
    model,
    outras_despesas,
    on=['data', 'cnpj'],
    how='left'
)

In [64]:
# Saldo de captações
'''
DEPÓSITOS DE POUPANÇA (4.1.2.00.00-3)
DEPÓSITOS INTERFINANCEIROS (4.1.3.00.00-6)
DEPÓSITOS A PRAZO (4.1.5.00.00-2)
'''

conn = sqlite3.connect('dados/banking.db')
query = """
SELECT
    data,
    cnpj,
    SUM("SALDO") AS saldo_total_agregado
FROM
    balancetes
WHERE
    "CONTA" IN ('41200003', '41300006', '41500002')
GROUP BY
    data,
    cnpj
ORDER BY
    data,
    cnpj;
"""

saldo_captacao = pd.read_sql_query(query, conn)
conn.close()

saldo_captacao['cnpj'] = saldo_captacao['cnpj'].astype(int)
saldo_captacao = saldo_captacao.rename(columns={'saldo_total_agregado': 'saldo_captacao'})

model = pd.merge(
    model,
    saldo_captacao,
    on=['data', 'cnpj'],
    how='left'
)

In [65]:
# taxa_captacao = despesa de captação / saldo de captacao

model['taxa_captacao'] = model['despesa_captacao'] / model['saldo_captacao']

In [66]:
# spread = taxa_emprestimos - taxa_captacao
model['taxa_spread'] = model['taxa_emprestimos'] - model['taxa_captacao']

model['teste_spread'] = (model['receita_juros'] - model['despesa_captacao']) / model['ativos_remunerados']

In [67]:
# Padronização da data e remoção de NaNs

model = model.dropna(how='any')
model['data'] = pd.to_datetime(model['data'], format='%Y-%m').dt.strftime('%Y-%m')

In [68]:
# Adicionando Dummies de datas

dummies_tempo = pd.get_dummies(model['data'], drop_first=True)
dummies_tempo = dummies_tempo.astype(int)
model = pd.concat([model, dummies_tempo], axis=1)

In [69]:
import numpy as np

matriz_correlacao = np.corrcoef(model['teste_spread'], model['taxa_spread'])
print(matriz_correlacao)

[[1.         0.64150103]
 [0.64150103 1.        ]]

In [70]:
# Modelo - Primeiro Estágio
import statsmodels.api as sm

colunas_X_originais = ['nibd', 'ibf', 'lever', 'opc', 'liquid', 'servr']
colunas_X = colunas_X_originais + list(dummies_tempo.columns)
X = model[colunas_X]
y = model['teste_spread']

stage1 = sm.OLS(y, sm.add_constant(X)).fit()
results_stage1 = stage1
print(results_stage1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           teste_spread   R-squared:                       0.261
Model:                            OLS   Adj. R-squared:                  0.228
Method:                 Least Squares   F-statistic:                     7.822
Date:                Tue, 21 Oct 2025   Prob (F-statistic):          7.53e-140
Time:                        19:13:07   Log-Likelihood:                 6173.1
No. Observations:                3720   AIC:                        -1.202e+04
Df Residuals:                    3558   BIC:                        -1.101e+04
Df Model:                         161
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0856      0.009      9.014      0.000       0.067       0.104
nibd       -1.306e+07   5.61e+06     -2.330      0.020   -2.41e+07   -2.07e+06
ibf           -0.0863      0.004    -22.241      0.000      -0.094      -0.079
lever         -0.0002   1.46e-05    -12.159      0.000      -0.000      -0.000
opc            0.0021      0.002      0.866      0.386      -0.003       0.007
liquid      1.825e-05   2.76e-06      6.610      0.000    1.28e-05    2.37e-05
servr         -0.0507      0.013     -4.036      0.000      -0.075      -0.026
2012-02        0.0100      0.013      0.793      0.428      -0.015       0.035
2012-03        0.0201      0.013      1.571      0.116      -0.005       0.045
2012-04        0.0251      0.012      2.030      0.042       0.001       0.049
2012-05        0.0308      0.012      2.470      0.014       0.006       0.055
2012-06        0.0417      0.012      3.342      0.001       0.017       0.066
2012-07        0.0006      0.013      0.049      0.961      -0.024       0.025
2012-08        0.0095      0.013      0.756      0.450      -0.015       0.034
2012-09        0.0182      0.013      1.419      0.156      -0.007       0.043
2012-10        0.0327      0.013      2.597      0.009       0.008       0.057
2012-11        0.0464      0.013      3.544      0.000       0.021       0.072
2012-12        0.0542      0.013      4.135      0.000       0.028       0.080
2013-01       -0.0005      0.013     -0.042      0.966      -0.025       0.024
2013-02        0.0125      0.013      0.996      0.319      -0.012       0.037
2013-03        0.0235      0.013      1.817      0.069      -0.002       0.049
2013-04        0.0340      0.013      2.649      0.008       0.009       0.059
2013-05        0.0422      0.013      3.257      0.001       0.017       0.068
2013-06        0.0520      0.013      3.928      0.000       0.026       0.078
2013-07       -0.0006      0.013     -0.048      0.962      -0.026       0.025
2013-08        0.0047      0.013      0.362      0.717      -0.021       0.030
2013-09        0.0177      0.013      1.367      0.172      -0.008       0.043
2013-10        0.0271      0.012      2.173      0.030       0.003       0.052
2013-11        0.0311      0.013      2.425      0.015       0.006       0.056
2013-12        0.0429      0.013      3.381      0.001       0.018       0.068
2014-01       -0.0004      0.013     -0.033      0.974      -0.026       0.025
2014-02        0.0072      0.013      0.573      0.566      -0.017       0.032
2014-03        0.0196      0.013      1.528      0.126      -0.006       0.045
2014-04        0.0263      0.012      2.110      0.035       0.002       0.051
2014-05        0.0347      0.013      2.704      0.007       0.010       0.060
2014-06        0.0451      0.013      3.550      0.000       0.020       0.070
2014-07        0.0004      0.013      0.029      0.977      -0.025       0.026
2014-08        0.0086      0.013      0.659      0.510      -0.017       0.034
2014-09        0.0114      0.013      0.900      0.368      -0.013       0.036
2014-10        0.0223      0.013      1.664      0.096      -0.004       0.049
2014-11        0.0262      0.013      2.043      0.041       0.001       0.051
2014-12        0.0281      0.013      2.123      0.034       0.002       0.054
2015-01     4.029e-05      0.013      0.003      0.998      -0.025       0.025
2015-02        0.0044      0.014      0.322      0.748      -0.022       0.031
2015-03        0.0061      0.013      0.466      0.641      -0.020       0.032
2015-04        0.0151      0.013      1.156      0.248      -0.011       0.041
2015-05        0.0211      0.013      1.572      0.116      -0.005       0.047
2015-06        0.0264      0.013      1.991      0.047       0.000       0.052
2015-07       -0.0047      0.013     -0.349      0.727      -0.031       0.022
2015-08        0.0008      0.013      0.066      0.948      -0.024       0.026
2015-09        0.0011      0.013      0.087      0.931      -0.025       0.027
2015-10        0.0063      0.013      0.471      0.638      -0.020       0.033
2015-11        0.0167      0.013      1.244      0.214      -0.010       0.043
2015-12        0.0167      0.013      1.243      0.214      -0.010       0.043
2016-01       -0.0006      0.013     -0.047      0.962      -0.026       0.025
2016-02        0.0077      0.013      0.591      0.554      -0.018       0.033
2016-03        0.0138      0.013      1.051      0.293      -0.012       0.039
2016-04        0.0213      0.013      1.610      0.108      -0.005       0.047
2016-05        0.0313      0.013      2.387      0.017       0.006       0.057
2016-06        0.0337      0.013      2.570      0.010       0.008       0.059
2016-07       -0.0006      0.013     -0.043      0.966      -0.027       0.025
2016-08        0.0095      0.013      0.709      0.478      -0.017       0.036
2016-09        0.0146      0.014      1.078      0.281      -0.012       0.041
2016-10        0.0169      0.014      1.229      0.219      -0.010       0.044
2016-11        0.0290      0.014      2.041      0.041       0.001       0.057
2016-12        0.0396      0.014      2.832      0.005       0.012       0.067
2017-01       -0.0001      0.014     -0.009      0.993      -0.027       0.027
2017-02        0.0261      0.013      1.959      0.050   -2.64e-05       0.052
2017-03        0.0271      0.013      2.047      0.041       0.001       0.053
2017-04        0.0390      0.014      2.785      0.005       0.012       0.066
2017-05        0.0248      0.013      1.869      0.062      -0.001       0.051
2017-06        0.0334      0.014      2.387      0.017       0.006       0.061
2017-07        0.0062      0.014      0.456      0.648      -0.020       0.033
2017-08        0.0168      0.014      1.216      0.224      -0.010       0.044
2017-09        0.0249      0.013      1.858      0.063      -0.001       0.051
2017-10        0.0362      0.013      2.699      0.007       0.010       0.063
2017-11        0.0316      0.014      2.222      0.026       0.004       0.060
2017-12        0.0269      0.014      1.924      0.054      -0.001       0.054
2018-01        0.0109      0.014      0.776      0.438      -0.017       0.038
2018-02        0.0198      0.014      1.435      0.151      -0.007       0.047
2018-03        0.0294      0.014      2.099      0.036       0.002       0.057
2018-04        0.0377      0.014      2.735      0.006       0.011       0.065
2018-05        0.0379      0.014      2.789      0.005       0.011       0.065
2018-06        0.0451      0.014      3.270      0.001       0.018       0.072
2018-07        0.0083      0.014      0.605      0.545      -0.019       0.035
2018-08        0.0062      0.014      0.439      0.660      -0.022       0.034
2018-09        0.0287      0.014      2.109      0.035       0.002       0.055
2018-10        0.0352      0.014      2.587      0.010       0.009       0.062
2018-11        0.0422      0.014      3.104      0.002       0.016       0.069
2018-12        0.0545      0.014      4.007      0.000       0.028       0.081
2019-01        0.0071      0.013      0.529      0.597      -0.019       0.033
2019-02        0.0181      0.014      1.311      0.190      -0.009       0.045
2019-03        0.0249      0.013      1.854      0.064      -0.001       0.051
2019-04        0.0379      0.013      2.856      0.004       0.012       0.064
2019-05        0.0482      0.014      3.497      0.000       0.021       0.075
2019-06        0.0572      0.014      4.210      0.000       0.031       0.084
2019-07        0.0075      0.014      0.549      0.583      -0.019       0.034
2019-08        0.0139      0.014      1.007      0.314      -0.013       0.041
2019-09        0.0230      0.014      1.666      0.096      -0.004       0.050
2019-10        0.0303      0.013      2.258      0.024       0.004       0.057
2019-11        0.0349      0.014      2.490      0.013       0.007       0.062
2019-12        0.0345      0.014      2.424      0.015       0.007       0.062
2020-01        0.0058      0.014      0.406      0.685      -0.022       0.034
2020-02        0.0072      0.014      0.525      0.599      -0.020       0.034
2020-03        0.0033      0.014      0.233      0.816      -0.024       0.031
2020-04        0.0157      0.014      1.104      0.270      -0.012       0.044
2020-05        0.0237      0.014      1.668      0.095      -0.004       0.052
2020-06        0.0304      0.014      2.170      0.030       0.003       0.058
2020-07        0.0059      0.014      0.430      0.667      -0.021       0.033
2020-08        0.0125      0.014      0.918      0.359      -0.014       0.039
2020-09        0.0177      0.013      1.316      0.188      -0.009       0.044
2020-10        0.0248      0.013      1.848      0.065      -0.002       0.051
2020-11        0.0349      0.013      2.598      0.009       0.009       0.061
2020-12        0.0504      0.013      3.800      0.000       0.024       0.076
2021-01        0.0016      0.013      0.123      0.902      -0.024       0.028
2021-02        0.0081      0.013      0.627      0.531      -0.017       0.034
2021-03        0.0156      0.013      1.204      0.229      -0.010       0.041
2021-04        0.0266      0.013      2.049      0.041       0.001       0.052
2021-05        0.0313      0.013      2.332      0.020       0.005       0.058
2021-06        0.0368      0.013      2.836      0.005       0.011       0.062
2021-07        0.0007      0.013      0.055      0.956      -0.025       0.026
2021-08        0.0071      0.013      0.547      0.584      -0.018       0.033
2021-09        0.0099      0.013      0.739      0.460      -0.016       0.036
2021-10        0.0132      0.013      0.995      0.320      -0.013       0.039
2021-11        0.0182      0.013      1.385      0.166      -0.008       0.044
2021-12        0.0214      0.013      1.609      0.108      -0.005       0.047
2022-01        0.0007      0.013      0.058      0.953      -0.024       0.026
2022-02        0.0036      0.013      0.283      0.778      -0.021       0.028
2022-03        0.0104      0.013      0.816      0.415      -0.015       0.035
2022-04        0.0106      0.013      0.815      0.415      -0.015       0.036
2022-05        0.0193      0.013      1.517      0.129      -0.006       0.044
2022-06        0.0192      0.012      1.560      0.119      -0.005       0.043
2022-07        0.0009      0.013      0.069      0.945      -0.024       0.026
2022-08        0.0036      0.013      0.284      0.777      -0.022       0.029
2022-09        0.0074      0.013      0.580      0.562      -0.018       0.032
2022-10        0.0070      0.013      0.536      0.592      -0.019       0.033
2022-11        0.0119      0.013      0.935      0.350      -0.013       0.037
2022-12        0.0164      0.013      1.252      0.211      -0.009       0.042
2023-01       -0.0033      0.012     -0.261      0.794      -0.028       0.021
2023-02       -0.0035      0.013     -0.275      0.784      -0.029       0.022
2023-03        0.0104      0.013      0.822      0.411      -0.014       0.035
2023-04        0.0142      0.013      1.108      0.268      -0.011       0.039
2023-05        0.0146      0.012      1.166      0.244      -0.010       0.039
2023-06        0.0205      0.013      1.616      0.106      -0.004       0.045
2023-07        0.0047      0.013      0.368      0.713      -0.020       0.030
2023-08        0.0040      0.012      0.318      0.751      -0.021       0.028
2023-09        0.0018      0.013      0.141      0.888      -0.024       0.027
2023-10        0.0048      0.012      0.383      0.701      -0.020       0.029
2023-11        0.0032      0.013      0.248      0.804      -0.022       0.028
2023-12        0.0146      0.013      1.099      0.272      -0.011       0.041
2024-01        0.0059      0.013      0.458      0.647      -0.019       0.031
2024-02        0.0091      0.013      0.706      0.480      -0.016       0.034
2024-03        0.0129      0.013      1.014      0.310      -0.012       0.038
2024-04        0.0089      0.012      0.718      0.473      -0.015       0.033
2024-05        0.0101      0.013      0.805      0.421      -0.015       0.035
2024-06        0.0140      0.013      1.066      0.287      -0.012       0.040
2024-07        0.0052      0.013      0.411      0.681      -0.020       0.030
2024-08        0.0062      0.013      0.489      0.625      -0.019       0.031
2024-09        0.0127      0.013      0.989      0.323      -0.012       0.038
2024-10        0.0061      0.013      0.480      0.631      -0.019       0.031
2024-11        0.0065      0.013      0.511      0.610      -0.018       0.031
2024-12        0.0091      0.013      0.710      0.478      -0.016       0.034
==============================================================================
Omnibus:                     3193.004   Durbin-Watson:                   2.007
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           124390.663
Skew:                           3.933   Prob(JB):                         0.00
Kurtosis:                      30.215   Cond. No.                     2.07e+12
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 7.05e-17. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [69]:
# Dados do IPEA

import ipeadatapy as ipea
 
desemprego = ipea.timeseries('PNADC12_TDESOC12')
desemprego = desemprego.reset_index(drop=False)
desemprego = desemprego[['DATE', 'VALUE ((%))']]
desemprego = desemprego.rename(columns={'DATE': 'data', 'VALUE ((%))': 'desemprego'})
desemprego['data'] = desemprego['data'].dt.strftime('%Y-%m')

model = model.merge(desemprego, on='data', how='left')